body{
    background-color: #B5E1F9;
    padding-left: 60px;
    padding-right: 60px;
}
.topic{
    text-align: center;
    color: rgb(109, 69, 18);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
  
}

.tagline2{
    color: rgb(198, 15, 143);
    font-style:oblique;
    padding-top: 70px;

}
.tagline{
    text-align: right;
    margin-right: 190px;
    color:rgb(198, 15, 143);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image_1{
    float: right;
    padding-top: 0px; 
    
}

.table1{
    border: 1px solid rgb(3, 3, 44);
    width: 100%;



}

.item1, .item2, .item3{

    width: 200px;
    height: 200px;
}

th, td{

    padding: 3px;
    text-align: center;

}

.Pricelist{
    font-size: 25px;
    font-weight: bold;
    padding-top: 80px;
    color: #E87AB0;
    text-align: center;
}

.table2{
    padding-top: 100px;
    
    
}

.list{
    text-align: left;
    padding-top:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
}

li{
   
    padding: 16px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(146, 107, 16);
}
.tablerow{
    margin-left: 150px;
}
.paragraph1{
    padding-top: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
   
   
}
.paragraph2{
    padding-top: 5px;
    font-family:cursive;
    font-size: large;
    color:rgb(92, 11, 108);
   
   
}

.row1{
   
    text-align: left;
    padding-left: 5px;
   

}

.row1 .email{
    padding-left: 10px;
 
}
.map{
    padding-left: 10px;
    padding-top: 10px;
  
}
.callus{
    padding-left: 10px;
  
}
.Socialmedia{
    padding-left: 10px;
  
}
.ul1{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    text-align: right;
    padding-top: 0%;
 
}

.list1{
    display: inline;
}

li a{

    padding: 1px;
    color: rgb(58, 36, 5);
    text-decoration: none;
    
}

.active {
    background-color: rgb(245, 136, 203);
}

li a:hover:not(.active) {
    background-color: rgb(245, 136, 203);
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
    padding: 3px;
    background-color: rgb(146, 107, 16);
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
